In [1]:
import pandas as pd 
import numpy as np
obj=pd.Series([4,20,5,67,-3])
print(obj)
print(obj.values)
print(obj.index)

0     4
1    20
2     5
3    67
4    -3
dtype: int64

In [2]:
obj2=pd.Series([5,7,690,-234])
print(obj2[0])
print('\n')
print(obj.values)
print('\n')
print(obj.index)

5


[ 4 20  5 67 -3]


RangeIndex(start=0, stop=5, step=1)

In [3]:
Sdata={"Nairobi": 10000,"Mombasa": 5000 ,"Nakuru":15000 ,"Uasin Gishu":25000,"Homabay":0}
obj3 = pd.Series(Sdata)
print(obj3)

Nairobi        10000
Mombasa         5000
Nakuru         15000
Uasin Gishu    25000
Homabay            0
dtype: int64

In [4]:
names=['Mamba','Levi','Alvin','Ten Hag','Onana']
obj4=pd.Series(names)
print(obj4)

0      Mamba
1       Levi
2      Alvin
3    Ten Hag
4      Onana
dtype: object

In [5]:
print(obj4.isnull())

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
print(obj4.notnull())

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [7]:
obj3.name='counties'
print(obj3)

Nairobi        10000
Mombasa         5000
Nakuru         15000
Uasin Gishu    25000
Homabay            0
Name: counties, dtype: int64

In [8]:
obj3.index.name='county name'
print(obj3)

county name
Nairobi        10000
Mombasa         5000
Nakuru         15000
Uasin Gishu    25000
Homabay            0
Name: counties, dtype: int64

In [9]:
Data ={'Student Name':['Mamba','Alvin','Levy','Amani','Sophie'],'Year of Birth':[1990,2004,1989,2006,2002],'Weight':[40.23,50.34,30.75,50.65,70]}