In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.linear_model import LinearRegression

In [4]:
df =pd.read_csv("C://Users//kipal//Downloads//archive//Global Health Statistics.csv")

In [32]:
df.head(30)

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,0,2013,0,0,0.95,1.55,8.42,0-18,1,471007,...,7.58,0,21064,0,91.82,4493,2.16,16886,0.79,86.02
1,1,2002,1,1,12.46,8.63,8.75,7,1,634318,...,5.11,1,47851,1,76.65,2366,4.82,80639,0.74,45.52
2,2,2015,2,2,0.91,2.35,6.22,4,1,154878,...,3.49,2,27834,1,98.55,41,5.81,12245,0.41,40.20
3,3,2011,3,3,4.68,6.29,3.99,0-18,2,446224,...,8.44,1,144,1,67.35,3201,2.22,49336,0.49,58.47
4,0,2013,4,2,0.83,13.59,7.01,7,1,472908,...,5.90,0,8908,1,50.06,2832,6.93,47701,0.50,48.14
5,4,2011,5,4,10.99,6.49,4.64,7,0,479234,...,0.62,3,42671,1,93.17,416,9.83,29597,0.46,56.50
6,5,2013,0,5,18.42,6.33,9.33,7,0,289931,...,3.31,1,15579,0,92.80,4535,0.89,60027,0.70,20.48
7,6,2007,4,6,3.48,5.71,1.21,0-18,0,393296,...,3.54,0,15744,1,65.45,4584,9.81,23222,0.46,66.49
8,0,2000,6,7,15.59,4.74,6.38,19-35,0,253110,...,5.84,3,7669,1,59.23,2253,9.92,30849,0.55,41.27
9,7,2006,7,7,10.12,2.08,6.00,7,1,174143,...,6.01,0,9468,1,93.21,4694,2.96,68856,0.90,83.30
10,8,2011,8,5,11.15,0.60,2.97,4,0,76858,...,1.99,1,19993,1,76.16,4238,1.23,44699,0.58,51.50
11,9,2009,9,8,3.88,10.85,1.85,0-18,1,462950,...,6.22,2,36202,1,63.54,2797,3.16,30015,0.61,29.05
12,6,2007,10,9,8.92,13.19,5.52,4,0,227849,...,9.57,3,45685,0,68.02,423,3.98,60608,0.61,68.17
13,1,2004,11,4,11.40,5.15,7.77,7,1,420730,...,0.73,3,49545,1,52.40,968,1.11,64119,0.59,63.84
14,7,2020,12,1,17.27,1.26,7.08,7,1,766425,...,8.49,3,20169,1,58.19,3731,4.51,48701,0.83,26.05
15,5,2024,5,10,1.82,2.98,7.01,4,0,623844,...,9.72,0,4664,0,87.75,484,8.11,56179,0.63,29.00
16,6,2009,8,1,15.18,14.95,8.21,0-18,1,788926,...,4.49,2,31596,1,50.80,2773,0.79,6053,0.41,31.82
17,7,2006,13,4,13.39,13.85,4.04,7,1,134472,...,6.73,1,44696,1,58.67,3088,5.51,23813,0.87,57.71
18,1,2015,14,0,14.44,5.69,2.21,19-35,2,959930,...,6.93,0,48221,1,54.80,1537,6.49,99481,0.84,28.24
19,3,2001,15,5,3.24,0.43,2.12,4,1,938294,...,9.09,2,32325,1,92.95,2110,4.93,86168,0.79,25.86
20,2,2019,8,0,8.74,1.42,1.54,19-35,2,124225,...,6.22,2,20405,0,73.62,2958,4.22,50131,0.76,70.77
21,10,2001,1,6,2.92,1.17,7.35,4,2,276364,...,3.57,1,28401,1,51.53,1742,1.47,8526,0.40,31.50
22,11,2014,0,4,5.94,4.29,2.36,7,0,857183,...,6.88,3,14578,1,72.97,433,1.40,52974,0.53,43.97
23,12,2021,10,3,11.24,4.78,5.68,19-35,1,947147,...,1.20,1,20397,1,98.55,4994,7.43,93229,0.64,46.04
24,5,2000,16,8,7.91,9.13,1.58,0-18,1,365955,...,4.67,3,8688,0,79.09,1480,9.56,85413,0.40,31.14
25,13,2010,10,2,10.58,12.30,2.37,0-18,0,822231,...,9.32,1,4533,1,52.91,4187,3.67,3239,0.52,71.13
26,8,2001,4,6,16.03,7.29,0.39,7,1,804802,...,7.72,3,1676,0,80.52,2653,8.64,60168,0.45,41.91
27,14,2003,11,6,1.45,12.86,3.21,4,1,468005,...,1.41,3,12119,0,90.01,4128,7.68,19846,0.90,34.35
28,9,2022,6,6,11.63,8.99,0.54,4,2,402997,...,8.25,1,9975,0,84.78,3139,4.71,11786,0.60,87.24
29,13,2019,12,6,14.72,0.84,6.72,0-18,1,294143,...,9.51,2,26485,0,66.32,434,6.07,35741,0.78,82.92

In [30]:
df.isnull().sum()

Country                               0
Year                                  0
Disease Name                          0
Disease Category                      0
Prevalence Rate (%)                   0
Incidence Rate (%)                    0
Mortality Rate (%)                    0
Age Group                             0
Gender                                0
Population Affected                   0
Healthcare Access (%)                 0
Doctors per 1000                      0
Hospital Beds per 1000                0
Treatment Type                        0
Average Treatment Cost (USD)          0
Availability of Vaccines/Treatment    0
Recovery Rate (%)                     0
DALYs                                 0
Improvement in 5 Years (%)            0
Per Capita Income (USD)               0
Education Index                       0
Urbanization Rate (%)                 0
dtype: int64

In [7]:
df.describe()

,Year,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Population Affected,Healthcare Access (%),Doctors per 1000,Hospital Beds per 1000,Average Treatment Cost (USD),Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,2011.996999,10.047992,7.555005,5.049919,500735.427363,74.987835,2.747929,5.245931,25010.313665,74.496934,2499.144809,5.002593,50311.099835,0.650069,54.985212
std,7.217287,5.740189,4.298947,2.859427,288660.116648,14.436345,1.299067,2.742865,14402.279227,14.155168,1443.923798,2.888298,28726.959359,0.144472,20.214042
min,2000.000000,0.100000,0.100000,0.100000,1000.000000,50.000000,0.500000,0.500000,100.000000,50.000000,1.000000,0.000000,500.000000,0.400000,20.000000
25%,2006.000000,5.090000,3.840000,2.580000,250491.250000,62.470000,1.620000,2.870000,12538.000000,62.220000,1245.000000,2.500000,25457.000000,0.530000,37.470000
50%,2012.000000,10.040000,7.550000,5.050000,501041.000000,75.000000,2.750000,5.240000,24980.000000,74.470000,2499.000000,5.000000,50372.000000,0.650000,54.980000
75%,2018.000000,15.010000,11.280000,7.530000,750782.000000,87.490000,3.870000,7.620000,37493.000000,86.780000,3750.000000,7.510000,75195.000000,0.780000,72.510000
max,2024.000000,20.000000,15.000000,10.000000,1000000.000000,100.000000,5.000000,10.000000,50000.000000,99.000000,5000.000000,10.000000,100000.000000,0.900000,90.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 22 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   Country                             1000000 non-null  object
 1   Year                                1000000 non-null  int64
 2   Disease Name                        1000000 non-null  object
 3   Disease Category                    1000000 non-null  object
 4   Prevalence Rate (%)                 1000000 non-null  float64
 5   Incidence Rate (%)                  1000000 non-null  float64
 6   Mortality Rate (%)                  1000000 non-null  float64
 7   Age Group                           1000000 non-null  object
 8   Gender                              1000000 non-null  object
 9   Population Affected                 1000000 non-null  int64
 10  Healthcare Access (%)               1000000 non-null  float64
 11  Doctors per 1000                    1000000 non-null  float64
 12  Hospital Beds per 1000              1000000 non-null  float64
 13  Treatment Type                      1000000 non-null  object
 14  Average Treatment Cost (USD)        1000000 non-null  int64
 15  Availability of Vaccines/Treatment  1000000 non-null  object
 16  Recovery Rate (%)                   1000000 non-null  float64
 17  DALYs                               1000000 non-null  int64
 18  Improvement in 5 Years (%)          1000000 non-null  float64
 19  Per Capita Income (USD)             1000000 non-null  int64
 20  Education Index                     1000000 non-null  float64
 21  Urbanization Rate (%)               1000000 non-null  float64
dtypes: float64(10), int64(5), object(7)
memory usage: 167.8+ MB

In [9]:
df.shape

(1000000, 22)

In [50]:
df.tail(30)

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
999970,16,2022,12,9,10.20,2.47,5.22,7,0,207011,...,7.89,3,32850,0,53.67,3761,1.85,62249,0.80,65.31
999971,4,2024,18,2,3.67,1.80,0.79,9,2,85928,...,7.15,1,32179,0,51.51,3847,9.96,64922,0.65,46.94
999972,1,2020,15,7,14.86,12.37,2.78,4,0,504907,...,2.66,2,4718,1,69.12,1875,6.90,61900,0.72,33.86
999973,16,2000,18,8,0.35,10.50,1.60,8,1,835765,...,2.15,2,28555,1,86.79,2845,4.35,69722,0.84,83.14
999974,14,2003,11,8,14.37,7.60,4.31,9,1,383723,...,8.38,3,43863,1,78.08,1779,5.76,42932,0.81,58.79
999975,0,2004,19,0,3.75,1.74,3.12,8,1,559916,...,2.01,3,4501,1,97.69,1477,4.03,62932,0.48,39.35
999976,0,2011,0,2,3.73,13.61,3.04,9,2,161990,...,3.89,3,47886,1,80.65,1387,9.76,70848,0.82,50.96
999977,13,2020,8,1,16.44,9.08,4.74,9,0,593755,...,8.32,0,15856,0,82.74,1316,1.26,40034,0.84,34.18
999978,2,2003,1,8,16.77,13.25,0.84,8,1,170295,...,0.57,0,29984,1,69.86,2381,6.28,48327,0.74,61.43
999979,18,2009,8,7,8.66,13.75,5.06,4,1,706783,...,2.62,2,10536,0,67.82,1846,4.03,80744,0.64,62.72
999980,19,2012,10,4,14.25,0.12,6.71,4,2,532841,...,4.87,2,46215,1,84.24,2981,1.44,50171,0.47,75.19
999981,19,2011,7,8,0.30,5.72,5.23,4,1,439885,...,2.75,2,34201,1,78.21,2969,9.87,13078,0.81,85.72
999982,13,2003,6,6,3.25,3.42,2.54,9,1,192003,...,3.69,1,45509,1,90.52,2920,2.29,4071,0.50,79.19
999983,11,2012,0,9,16.50,12.23,4.49,7,2,888247,...,3.67,1,45284,0,65.51,1372,8.01,36211,0.76,64.66
999984,8,2009,3,4,3.84,9.43,0.77,8,0,342505,...,2.37,2,30209,0,88.80,2342,0.33,77537,0.72,89.07
999985,10,2006,12,1,17.22,7.53,4.37,7,0,119555,...,5.76,2,40454,1,59.15,2496,3.69,90236,0.66,42.73
999986,18,2000,1,2,18.25,4.74,3.71,7,2,506513,...,9.89,1,49444,0,51.52,1359,2.47,25620,0.84,20.23
999987,9,2024,15,0,0.50,10.19,8.58,7,2,38627,...,3.28,3,44642,0,70.08,834,2.57,87011,0.88,53.96
999988,6,2016,12,3,1.82,4.01,7.02,9,2,768587,...,3.58,1,8739,1,78.08,4574,0.32,45591,0.41,20.76
999989,15,2010,15,1,4.36,9.97,3.07,9,2,106418,...,0.62,3,17969,1,95.03,4759,0.46,67759,0.73,44.91
999990,15,2014,6,1,5.64,3.90,1.08,4,1,609775,...,7.57,2,38124,0,87.69,1037,1.87,16936,0.82,68.51
999991,17,2005,17,4,6.09,13.68,2.91,7,1,73923,...,1.83,3,14718,1,87.46,3262,3.37,41668,0.58,46.53
999992,13,2009,1,7,15.62,10.85,3.79,7,0,747833,...,5.66,1,42983,1,81.06,3549,3.91,8632,0.48,28.04
999993,6,2006,12,8,16.10,12.34,8.94,7,2,124723,...,1.89,0,21911,0,89.66,1151,1.57,77038,0.81,87.64
999994,2,2024,1,3,6.45,4.06,3.46,7,1,380714,...,4.83,0,34450,0,53.59,1417,6.30,60189,0.57,63.74
999995,4,2021,3,9,4.56,4.83,9.65,8,0,119332,...,4.23,2,4528,1,92.11,1024,3.88,29335,0.75,27.94
999996,4,2013,0,0,0.26,1.76,0.56,8,0,354927,...,6.34,1,20686,0,84.47,202,7.95,30752,0.47,77.66
999997,5,2016,12,0,13.44,14.13,1.91,9,2,807915,...,8.11,3,18807,0,86.81,3338,7.31,62897,0.72,46.90
999998,6,2020,16,7,1.96,14.56,4.98,7,0,385896,...,6.91,0,21033,1,62.15,4806,3.82,98189,0.51,34.73
999999,3,2004,16,6,15.58,9.84,0.51,4,2,632775,...,6.79,3,505,1,77.23,3241,1.11,79640,0.42,78.51

In [11]:
df.columns

Index(['Country', 'Year', 'Disease Name', 'Disease Category',
       'Prevalence Rate (%)', 'Incidence Rate (%)', 'Mortality Rate (%)',
       'Age Group', 'Gender', 'Population Affected', 'Healthcare Access (%)',
       'Doctors per 1000', 'Hospital Beds per 1000', 'Treatment Type',
       'Average Treatment Cost (USD)', 'Availability of Vaccines/Treatment',
       'Recovery Rate (%)', 'DALYs', 'Improvement in 5 Years (%)',
       'Per Capita Income (USD)', 'Education Index', 'Urbanization Rate (%)'],
      dtype='object')

In [12]:
df.describe(include="O")

,Country,Disease Name,Disease Category,Age Group,Gender,Treatment Type,Availability of Vaccines/Treatment
count,1000000,1000000,1000000,1000000,1000000,1000000,1000000
unique,20,20,11,4,3,4,2
top,Russia,COVID-19,Metabolic,19-35,Male,Surgery,Yes
freq,50532,50404,91332,251201,333676,250528,500354

In [13]:
list(df.Gender.unique())

['Male', 'Other', 'Female']

In [14]:
list(df.Country.unique())

['Italy',
 'France',
 'Turkey',
 'Indonesia',
 'Saudi Arabia',
 'USA',
 'Nigeria',
 'Australia',
 'Canada',
 'Mexico',
 'China',
 'South Africa',
 'Japan',
 'UK',
 'Russia',
 'Brazil',
 'Germany',
 'India',
 'Argentina',
 'South Korea']

In [15]:
list(df['Disease Name'].unique())

['Malaria',
 'Ebola',
 'COVID-19',
 "Parkinson's Disease",
 'Tuberculosis',
 'Dengue',
 'Rabies',
 'Cholera',
 'Leprosy',
 'Cancer',
 'Diabetes',
 'Measles',
 'Zika',
 "Alzheimer's Disease",
 'Polio',
 'Hypertension',
 'Asthma',
 'HIV/AIDS',
 'Influenza',
 'Hepatitis']

In [16]:
list(df['Disease Category'].unique())

['Respiratory',
 'Parasitic',
 'Genetic',
 'Autoimmune',
 'Bacterial',
 'Cardiovascular',
 'Neurological',
 'Chronic',
 'Metabolic',
 'Infectious',
 'Viral']

In [17]:
list(df['Treatment Type'].unique())

['Medication', 'Surgery', 'Vaccination', 'Therapy']

In [18]:
gender= {"Female": 0,  "Male": 1, "Other": 2} 
df['Gender']= df['Gender'].replace(gender)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\3434061090.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender']= df['Gender'].replace(gender)

In [19]:
treatmenttype= {"Medication": 0,  "Surgery": 1, "Vaccination": 2 ,"Therapy":3} 
df['Treatment Type']= df['Treatment Type'].replace(treatmenttype)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\2646661199.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Treatment Type']= df['Treatment Type'].replace(treatmenttype)

In [20]:
disease= {"Respiratory": 0,  "Parasitic": 1, "Genetic": 2, "Autoimmune":3 ,"Bacterial" :4 ,"Cardiovascular":5 ,"Neurological":6,"Chronic":7,"Metabolic":8,"Infectious":9,"Viral":10} 
df['Disease Category']= df['Disease Category'].replace(disease)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\2676048869.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Disease Category']= df['Disease Category'].replace(disease)

In [21]:
df.head()

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,Italy,2013,Malaria,0,0.95,1.55,8.42,0-18,1,471007,...,7.58,0,21064,No,91.82,4493,2.16,16886,0.79,86.02
1,France,2002,Ebola,1,12.46,8.63,8.75,61+,1,634318,...,5.11,1,47851,Yes,76.65,2366,4.82,80639,0.74,45.52
2,Turkey,2015,COVID-19,2,0.91,2.35,6.22,36-60,1,154878,...,3.49,2,27834,Yes,98.55,41,5.81,12245,0.41,40.20
3,Indonesia,2011,Parkinson's Disease,3,4.68,6.29,3.99,0-18,2,446224,...,8.44,1,144,Yes,67.35,3201,2.22,49336,0.49,58.47
4,Italy,2013,Tuberculosis,2,0.83,13.59,7.01,61+,1,472908,...,5.90,0,8908,Yes,50.06,2832,6.93,47701,0.50,48.14

In [22]:
disease_name_mapping = {
    'Malaria': 0,
    'Ebola': 1,
    'COVID-19': 2,
    "Parkinson's Disease": 3,
    'Tuberculosis': 4,
    'Dengue': 5,
    'Rabies': 6,
    'Cholera': 7,
    'Leprosy': 8,
    'Cancer': 9,
    'Diabetes': 10,
    'Measles': 11,
    'Zika': 12,
    "Alzheimer's Disease": 13,
    'Polio': 14,
    'Hypertension': 15,
    'Asthma': 16,
    'HIV/AIDS': 17,
    'Influenza': 18,
    'Hepatitis': 19
}
df['Disease Name'] = df['Disease Name'].replace(disease_name_mapping)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\4245045814.py:23: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Disease Name'] = df['Disease Name'].replace(disease_name_mapping)

In [23]:
# Mapping dictionary for 'Country'
country_mapping = {
    'Italy': 0,
    'France': 1,
    'Turkey': 2,
    'Indonesia': 3,
    'Saudi Arabia': 4,
    'USA': 5,
    'Nigeria': 6,
    'Australia': 7,
    'Canada': 8,
    'Mexico': 9,
    'China': 10,
    'South Africa': 11,
    'Japan': 12,
    'UK': 13,
    'Russia': 14,
    'Brazil': 15,
    'Germany': 16,
    'India': 17,
    'Argentina': 18,
    'South Korea': 19
}

# Replace 'Country' column values with mapped integers
df['Country'] = df['Country'].replace(country_mapping)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\3024572251.py:26: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Country'] = df['Country'].replace(country_mapping)

In [24]:
list(df['Availability of Vaccines/Treatment'].unique())

['No', 'Yes']

In [25]:
available= {"No": 0,  "Yes": 1} 
df['Availability of Vaccines/Treatment']= df['Availability of Vaccines/Treatment'].replace(available)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\3487337574.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Availability of Vaccines/Treatment']= df['Availability of Vaccines/Treatment'].replace(available)

In [46]:
df.head(20)

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,0,2013,0,0,0.95,1.55,8.42,8,1,471007,...,7.58,0,21064,0,91.82,4493,2.16,16886,0.79,86.02
1,1,2002,1,1,12.46,8.63,8.75,7,1,634318,...,5.11,1,47851,1,76.65,2366,4.82,80639,0.74,45.52
2,2,2015,2,2,0.91,2.35,6.22,4,1,154878,...,3.49,2,27834,1,98.55,41,5.81,12245,0.41,40.20
3,3,2011,3,3,4.68,6.29,3.99,8,2,446224,...,8.44,1,144,1,67.35,3201,2.22,49336,0.49,58.47
4,0,2013,4,2,0.83,13.59,7.01,7,1,472908,...,5.90,0,8908,1,50.06,2832,6.93,47701,0.50,48.14
5,4,2011,5,4,10.99,6.49,4.64,7,0,479234,...,0.62,3,42671,1,93.17,416,9.83,29597,0.46,56.50
6,5,2013,0,5,18.42,6.33,9.33,7,0,289931,...,3.31,1,15579,0,92.80,4535,0.89,60027,0.70,20.48
7,6,2007,4,6,3.48,5.71,1.21,8,0,393296,...,3.54,0,15744,1,65.45,4584,9.81,23222,0.46,66.49
8,0,2000,6,7,15.59,4.74,6.38,9,0,253110,...,5.84,3,7669,1,59.23,2253,9.92,30849,0.55,41.27
9,7,2006,7,7,10.12,2.08,6.00,7,1,174143,...,6.01,0,9468,1,93.21,4694,2.96,68856,0.90,83.30
10,8,2011,8,5,11.15,0.60,2.97,4,0,76858,...,1.99,1,19993,1,76.16,4238,1.23,44699,0.58,51.50
11,9,2009,9,8,3.88,10.85,1.85,8,1,462950,...,6.22,2,36202,1,63.54,2797,3.16,30015,0.61,29.05
12,6,2007,10,9,8.92,13.19,5.52,4,0,227849,...,9.57,3,45685,0,68.02,423,3.98,60608,0.61,68.17
13,1,2004,11,4,11.40,5.15,7.77,7,1,420730,...,0.73,3,49545,1,52.40,968,1.11,64119,0.59,63.84
14,7,2020,12,1,17.27,1.26,7.08,7,1,766425,...,8.49,3,20169,1,58.19,3731,4.51,48701,0.83,26.05
15,5,2024,5,10,1.82,2.98,7.01,4,0,623844,...,9.72,0,4664,0,87.75,484,8.11,56179,0.63,29.00
16,6,2009,8,1,15.18,14.95,8.21,8,1,788926,...,4.49,2,31596,1,50.80,2773,0.79,6053,0.41,31.82
17,7,2006,13,4,13.39,13.85,4.04,7,1,134472,...,6.73,1,44696,1,58.67,3088,5.51,23813,0.87,57.71
18,1,2015,14,0,14.44,5.69,2.21,9,2,959930,...,6.93,0,48221,1,54.80,1537,6.49,99481,0.84,28.24
19,3,2001,15,5,3.24,0.43,2.12,4,1,938294,...,9.09,2,32325,1,92.95,2110,4.93,86168,0.79,25.86

In [37]:
age_mapping = {"0-10": 0, "11-20": 1, "21-30": 2, "31-40": 3,  "36-60": 4 ,"41-50": 5,"51-60": 6, "61+": 7,"0-18":8,"19-35":9}
df['Age Group'] = df['Age Group'].replace(age_mapping)

C:\Users\kipal\AppData\Local\Temp\ipykernel_6276\894365152.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Age Group'] = df['Age Group'].replace(age_mapping)

In [45]:
df.head()

,Country,Year,Disease Name,Disease Category,Prevalence Rate (%),Incidence Rate (%),Mortality Rate (%),Age Group,Gender,Population Affected,...,Hospital Beds per 1000,Treatment Type,Average Treatment Cost (USD),Availability of Vaccines/Treatment,Recovery Rate (%),DALYs,Improvement in 5 Years (%),Per Capita Income (USD),Education Index,Urbanization Rate (%)
0,0,2013,0,0,0.95,1.55,8.42,8,1,471007,...,7.58,0,21064,0,91.82,4493,2.16,16886,0.79,86.02
1,1,2002,1,1,12.46,8.63,8.75,7,1,634318,...,5.11,1,47851,1,76.65,2366,4.82,80639,0.74,45.52
2,2,2015,2,2,0.91,2.35,6.22,4,1,154878,...,3.49,2,27834,1,98.55,41,5.81,12245,0.41,40.20
3,3,2011,3,3,4.68,6.29,3.99,8,2,446224,...,8.44,1,144,1,67.35,3201,2.22,49336,0.49,58.47
4,0,2013,4,2,0.83,13.59,7.01,7,1,472908,...,5.90,0,8908,1,50.06,2832,6.93,47701,0.50,48.14

In [47]:
target = df["Mortality Rate (%)"]

In [48]:
train = df.drop("Mortality Rate (%)",axis=1)

In [49]:
X_train, X_test, y_train, y_test = train_test_split( train, target, test_size=0.20)

In [44]:
model_1 = LinearRegression()
model_2 = xgb.XGBRegressor()
model_3 = RandomForestRegressor()
model = LinearRegression()
model.fit(X_train, y_train)
print(X_train.head())
print(X_train.dtypes)
def convert_range_to_number(value):
    if isinstance(value, str) and '-' in value:
        start, end = map(int, value.split('-'))
        return (start + end) / 2  # Convert range to mean
    elif value == '60+':  # Handle special cases like '60+'
        return 60
    return value
X_train['age'] = X_train['age'].apply(convert_range_to_number)

ValueError: could not convert string to float: '0-18'

In [ ]:
pred_1 = model_1.predict(X_test)
pred_2 = model_2.predict(X_test)
pred_3 = model_3.predict(X_test)